<head>
	<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
</head>
<body>
	<mat-toolbar class="toolbar">
		<div>
			<button id="menuButton" aria-label="Menu Principale" mat-flat-button [matMenuTriggerFor]="clickMenu">
				<img class="icon" src="assets/img/aereo.png">
			</button>
		</div>
		<mat-menu #clickMenu="matMenu" class="navigationMenu">
			<ul class="list">
				<li >
					<button class="list" mat-flat-button routerLink="/home">Home</button>
				</li>
				<li>	
					<button class="list" mat-flat-button>Offerta del Giorno</button>
				</li>
				<li>	
					<button class="list" mat-flat-button routerLink="/aboutus">Chi Siamo</button>
				</li>
			</ul>
			<button class="navigationMenu" mat-raised-button>Home</button>
			<button class="navigationMenu" mat-raised-button>Offerta del Giorno</button>
			<button class="navigationMenu" mat-raised-button>Chi Siamo</button>
		</mat-menu>
		<span class="tabLabel">Vola con noi sulle ali della fantasia!</span>
		<div>
			<button class="buttons" mat-raised-button routerLink="/home">Home</button>
			<button class="buttons" mat-raised-button>Offerta del Giorno</button>
			<button class="buttons" mat-raised-button routerLink="/aboutus">Chi Siamo</button>
		</div>
	</mat-toolbar>
	<div>
		<router-outlet></router-outlet>
	</div>
	<footer class="navigationMenu">
		<p> {{ footerText }} </p>			
	</footer>
</body>