p {
	color: white;	
}
.cards {
	background: grey;
	color: white;
	width: 30%;
	height: wrap;
}
img {
	display: block;
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
.text {
	background: grey;
	color: white;
}
body {
	justify-content: space-between;	
	display: flex;
}