<body>
	<mat-card class="cards">
		<mat-card-header>
			<mat-card-title class="text">H A W A I I</mat-card-title>
		</mat-card-header>
		<img mat-card-image src="assets/img/hawai.jpg" alt="Hawaii">
		<mat-card-content>
			<p>YA DID IT GUYS, IT'S HAWAII</p>
		</mat-card-content>
		<mat-card-actions>
			<button mat-button>Prenota!</button>
			<button mat-button>LIKE</button>
		</mat-card-actions>
	</mat-card>
	<mat-card class="cards">
		<mat-card-header>
			<mat-card-title class="text">T A O R M I N A</mat-card-title>
		</mat-card-header>
		<img mat-card-image src="assets/img/taormina.jpeg" alt="Taormina">
		<mat-card-content>
			<p>OH BABY, IT'S TAORMINA</p>
		</mat-card-content>
		<mat-card-actions>
			<button mat-button>Prenota!</button>
			<button mat-button>LIKE</button>
		</mat-card-actions>
	</mat-card>
	<mat-card class="cards">
		<mat-card-header>
			<mat-card-title class="text">A L P I</mat-card-title>
		</mat-card-header>
		<img mat-card-image src="assets/img/alpi.jpg" alt="Alpi">
		<mat-card-content>
			<p>HOLD THE PHONE GUYS, IT'S THE ALPS!</p>
		</mat-card-content>
		<mat-card-actions>
			<button mat-button>Prenota!</button>
			<button mat-button>LIKE</button>
		</mat-card-actions>
	</mat-card>
</body>